*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Oswald;
    src: url(../LocalFonts/static/OswaldRegular.ttf);
}
@font-face {
    font-family: Josefin;
    src: url(../LocalFonts/josfin/static/JosefinSansRegular.ttf);
}


.wholePageContainer{
background-color: #434750;
height: 100vh !important;
position: relative;
transition: all .5s;

}

.inner-container{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


h1{
    color: white;
    text-transform: uppercase;
    font-family: Oswald;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    transform: translateY(60px);
    animation-name: h1-animation;
    animation-duration: .6s;
    animation-timing-function: cubic-bezier(.19,0,.61,1.72);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
    opacity: 0;
    position: relative;
}

h1:before{
    position: absolute;
    content: attr(data-text);
    text-shadow: 0px 0px 20px white;
    filter: blur(5px) brightness(0);
    animation-name: h1-flicker;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes h1-flicker{
    0%{
        filter: blur(5px) brightness(0);
    }
    3%{
        filter: blur(5px) brightness(0);
    }
    6%{
        filter: blur(5px) brightness(1);
    }
    9%{
        filter: blur(5px) brightness(1);
    }
    10%{
        filter: blur(5px) brightness(0);
    }
    11%{
        filter: blur(5px) brightness(0);
    }
    12%{
        filter: blur(5px) brightness(1);
    }
    13%{
        filter: blur(5px) brightness(1);
    }
    14%{
        filter: blur(5px) brightness(0);
    }
    15%{
        filter: blur(5px) brightness(0);
    }
    16%{
        filter: blur(5px) brightness(1);
    }
    17%{
        filter: blur(5px) brightness(1);
    }
    18%{
        filter: blur(5px) brightness(0);
    }
    19%{
        filter: blur(5px) brightness(0);
    }
    20%{
        filter: blur(5px) brightness(1);
    }
    100%{
        filter: blur(5px) brightness(1);
    }
} 

@keyframes h1-animation {
0%{
    transform: translateY(60px);
}
100%{
    opacity: 1;
    transform: translateY(0px);
}
    
}

.signImageDiv{
    transition: all 1s cubic-bezier(.75,-0.44,.26,1.26); 
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(-1920px); 
    
}


.signImageDiv-inner-container{
    width: 90%;
    height: 936px;
    margin: auto;
    position: relative;
  
}

.bios-div{
    width: 100%;
    height: 100%;
    padding: 252px 48px 43px 28px;
    position: absolute;
    top: 0px;
    z-index: 11;
    overflow: hidden;
}

.bios-inner-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}

.about-us-description{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.about-us-description-inner-container{
    width: auto;
    height: 100%;
    margin: 0 340px;
}

.about-us-description-inner-container p{
    font-family: josefin;
    font-size: 20px;
    color: black;
    line-height: 61px;
    letter-spacing: 1px;
    text-align: start;
    text-shadow: 0px 0px 1px black;
    padding: 0 10px;
}
.fullstack-link{
    color: blue; 
    text-decoration: underline;
    font-family: josefin;
    font-size: 20px;
    line-height: 61px;
    letter-spacing: 1px;
    text-shadow: 0px 0px 1px black;
}

.fullstack-link:hover{
    color: red;
} 

.first-two-bios-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.second-two-bios-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ayman-bio{
    /* background-color: grey; */
    width: 340px;
    height: 319.5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
}


.momen-bio{
    width: 340px;
    height: 319.5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
}

.mohammad-bio{
    margin-top: 16px;
    width: 340px;
    height: 305px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
}

.sahar-bio{
    margin-top: 16px;
    width: 340px;
    height: 305px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
}

.user-pic-div{
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    overflow: hidden;
    margin-top: 48px;
   transition: all .8s cubic-bezier(.75,-0.44,.26,1.26);
   margin-bottom: 47px;
}

.ayman-bio:hover .user-pic-div{
    width: 200px;
    height: 200px;
    margin-top:5px;
    margin-bottom: 2px;
}
.momen-bio:hover .user-pic-div{
    width: 200px;
    height: 200px;
    margin-top:5px;
    margin-bottom: 2px;
}
.mohammad-bio:hover .user-pic-div{
    width: 200px;
    height: 200px;
    margin-top:5px;
    margin-bottom: 2px;
}
.sahar-bio:hover .user-pic-div{
    width: 200px;
    height: 200px;
    margin-top:5px;
    margin-bottom: 2px;
}

.user-pic-div img{
    width: 200px;
    height: 200px;
    transform: translate(-31px,0px);
    transition: ease-in-out .8s;
}

.mohammad-bio .user-pic-div img{
    transform: translate(-223px,-202px);
    width: 400px;
    height: 400px;
}

.momen-bio .user-pic-div img{
    transform: translate(-42px,-3px);
    width: 145px;
    height: 145px;
}

.ayman-bio:hover .user-pic-div img{
    width:250px;
    height: 250px;
    transform: translate(0,0);
}
.momen-bio:hover .user-pic-div img{
    width: 250px;
    height: 250px;
    transform: translate(-37px,-12px);
}
.mohammad-bio:hover .user-pic-div img{
    width: 400px;
    height: 400px;
    transform: translate(-163px,-152px);
}
.sahar-bio:hover .user-pic-div img{
    width:250px;
    height: 250px;
    transform: translate(0,0);
}

.user-bio-para-pool{
width: 100%;
padding: 0;
margin:  0 auto;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.user-bio-para-pool a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
    transition: all .5s;
}

a:hover{
    color: rgb(29, 168, 255);
    transform: scale(1.1);
}

.user-bio-para-pool a:nth-child(2){
    margin-left: 10px;
}

.user-bio-para-pool p{
    width: 95%;
    padding: 0 0 0 5px;
    text-align: start;
    font-size: 15px;
    font-family: Josefin;
    margin: 0;
}

.name-span{
    text-decoration: underline;
}
.bio-span{
    text-decoration: underline;
}


.signImage{
    width: 100%;
    height: 100%;
    /* width: 1486px; */
    /* height: 936px; */
    /* width: 657px;
    height: 701px; */
}


.listParentDiv{
    height: 220px;
    width: 100%;
    position: relative;
}

.listParent{
    width: 100%;
    height: inherit;
    list-style: none;
    font-family: Oswald; 
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
    margin-bottom: 0;
    position: relative;

}

.list-item-div{
    width: 510px;
    padding-top: 30px;
    transition: all .5s;
}

.list-item-div:hover{
    transform: translateX(50px);
}

.listParent div:nth-child(1){
    position: absolute;
    top: -700px;
    z-index: 3;
}

.first-list-item-animation{
    animation-name: first-menu-option-pan-down; 
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-duration: .7s;
    animation-delay: .2s;
    animation-timing-function: cubic-bezier(.19,0,.53,1.42)
    /* animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}

@keyframes first-menu-option-pan-down {
    0% {
        top: -700px;
    }
    100%{
        top: 0px;
    }
    
}

.listParent div:nth-child(2){
    position: absolute;
    top: -700px;
    z-index: 2;
}

.second-list-item-animation{
    animation-name: second-menu-option-pan-down; 
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-duration: .7s;
    animation-delay: .1s;
    animation-timing-function: cubic-bezier(.19,0,.53,1.42)
    /* animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}

@keyframes second-menu-option-pan-down {
    0% {
       top: -700px;
    }
    100%{
        top: 60px;
    }
    
}

.listParent div:nth-child(3){
    position: absolute;
    top: -700px;
    z-index: 1;
}


.third-list-item-animation{
    animation-name: thrid-menu-option-pan-down; 
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-duration: .7s;
    animation-timing-function: cubic-bezier(.19,0,.53,1.42)
    /* animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}


@keyframes thrid-menu-option-pan-down {
    0% {
        top: -700px;
    }
    100%{
        top: 120px;
    }
    
}


.menu-animation{
    animation-name: menu-pan-down;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-duration: 1s;
}




.list-item-div:hover{
    cursor: pointer;
}


.list-item{
    width: 480px; 
    padding: 15px; 
    background-color: #3e3f46;
    color: rgb(209, 203, 203);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    transition: all .5s; 
    position: relative; 
}

.list-item a{
    text-decoration: none;
    font-family: inherit;
    color: rgb(209, 203, 203);
}


.list-item:before{
    content: " ";
    height: 30px;
    width: 480px;
    position: absolute;
    top: -30px;
    left: 0px; 
    background-color: #2e3133;
    transform-origin: bottom;
    transform: skewX(-45deg); 
    transition: all .5s;
}

.list-item:after{
    position: absolute;
    top: -1px;
    right: -30px;
    background-color: #2e3133;
    content: " ";
    height: 61px;
    width: 30px;
    transform-origin: left;
    transform: skewY(-45deg); 
    transition: all .5s;
}

.list-item-div:nth-child(3) .list-item::before{
    box-shadow: 122px 122px 10px 9px rgb(0 0 0 / 0%);
    animation-name: shadow-animation;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 1s;
}


@keyframes shadow-animation {
    0%{
        box-shadow: 122px 122px 10px 9px rgb(0 0 0 / 0%);
    }
    100%{
        box-shadow: 122px 122px 10px 9px rgb(0 0 0 / 25%);
    }
}

.list-item:hover{
    background-color: #33a3ee
} 


.listParent div .list-item:hover::before{
    background-color: #2982b9;
}


.listParent div .list-item:hover::after{
    background-color: #2982b9;
} 

