@media only screen and (max-width: 1200px) {
    .row {
        padding-left: 15px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .Container-list {
        padding: 2% 3%;
    }
    .btns-container {
        width: 18%;
        display: flex;
        flex-direction: column;
    }
    #delete {
        margin-bottom: 20px;
        margin-right: 0px
    }
    #edit {
        margin-right: 0px
    }
    .img-container {
        width: 10%;
    }
    .price {
        width: 15%;
    }
    .title {
        width: 10%
    }
}

@media only screen and (max-width: 700px) {
    .book-photo {
        width: 50px;
        height: 50px;
    }
    .author {
        width: 10%;
    }
    .price {
        width: 5%;
    }
    #delete {
        padding: 1px 3px;
    }
    #edit {
        padding: 1px 3px;
    }
    .row {
        padding-left: 7px;
        padding-right: 5px;
    }
}