input,textarea{
    display:block;
    width:100%;
    margin:10px 0;
}
.main-author-container{
    background-color: #ededed;
    height: 100%;
    padding-right: 10%;
    padding-left: 10%;

}
.container{
    width:40%;
    margin:auto;
}
.curd-title{
    text-transform: capitalize;
}
.add-course{
    width: 100%;
     margin: auto;
    margin-top:40px;
    background-color: white;
    border-radius: 10px;
    box-shadow:5px 5px 21px  #dcdcdc;
    text-align: center;
    margin-bottom: 2%;
}

.table{
    width: 80%;
}
th,td{
    width:200px
}

.delete{
    border:1px solid red;
    color:red;
}

.btn-outline-dark{
    
}


.services-img{
    width: 150px;
    border-radius: 50%;
}
.lightGrey{
    color: #d3d3d3;
}

button{
    line-height: normal !important;
    border: 1px solid black;
} 

.btns-div{
width: fit-content;
height: fit-content;
justify-content: center;
}

.add_btn{
    height: fit-content;
    width: fit-content;
    font-size: 16px;
    margin: 0 10px 10px 0;
}

.clr-btn{
    text-transform: capitalize;
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    margin: 0 10px 10px 0;
} 

.input-file-selector{
    height: fit-content;
    widows: fit-content;
    text-transform: capitalize;
}

.img-file{
    width: fit-content;
    display: none;
}

.table-image{
    width: 50px;
    height: 50px;
}