* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 40px;
}

#arrivals {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-card {
    height: 420px;
}

h5 {
    color: #676767;
}

.card {
    border-width: 0px;
    width: 20%;
    margin-right: 30px;
    margin-bottom: 30px;
}

.author {
    text-transform: capitalize;
}

.card-title {
    text-transform: capitalize;
    height: 40px;
    font-size: 30px;
}

.btns-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

.btns-container button {
    border-radius: 4px;
    background-color: #fcfcfc;
    border-width: 0px;
    padding: 10px 12px;
    background-color: #ededed;
    width: 80px;
    margin-left: 20px;
}

.btns-container button:hover {
    color: white;
    background-color: red;
}

.prices {
    width: 30%;
    display: flex;
    justify-content: space-between;
}